<html>
<head>
  <title>Yoti client example</title>
  <script src="https://sdk.yoti.com/clients/browser.2.0.1.js"></script>
</head>
<body style="text-align: center; margin: 200px 0">
  <span data-yoti-application-id="<%= yoti_application_id %>">
    Use Yoti
  </span>
  <script>
    _ybg.config.service = 'https://code.yoti.com/app/'
    _ybg.init()
  </script>
</body>
</html>
